# Numbers
There are different categories of numbers in Python. Mostly used are Integers and Floats.

In [2]:
a = 2

In [6]:
print (type(a))

<class 'int'>

In [8]:
b = 0.3

In [10]:
print(type(b))

<class 'float'>

In [12]:
c = 'hello world'

In [14]:
print(type(c))

<class 'str'>

# Strings
Strings refers to the sequence of characters in Python. Strings are always written in quotation marks (single, double, or triple) and are Immutable. It means that the elements of string cannot be edited after definition. Different operations that can be performed on Strings are Indexing, Slicing, Concatenation, Repetition. Also, there are various in-built method in Strings such as upper(), lower(),split(),strip(),lstrip(),rstrip() and many others that can be studied. Below are various examples and explanation of operations and methods in String with comments(denoted as ‘#’ for understanding purpose).

In [17]:
#creating a string
"hello world"

'hello world'

In [19]:
#pritning a string 
a = "hello world"

In [21]:
print(a)

hello world

# String Indexing is used to return elements of a string at a particular index. In the below example, ‘a[0]’ returns ‘H’ which is at 0'th index of string ‘a’. Whereas, String Slicing extract a range of characters by using the slice syntax. Syntax for slicing :- [start index: end index:step size]

In [26]:
#String Indexing
a[0]

'h'

In [33]:
# String slicing 
a = "hello world"

In [37]:
print(a[0:5:1])

hello

In [39]:
print(a[0:8:3])

hlw

In [41]:
print(a[:])

hello world

In [43]:
print(a[1])

e

In [49]:
#string concatenation ('+')
a= 'hello world'
a + 'how are you?'

'hello worldhow are you?'

In [1]:
#string repetition
b ='hi'
b*5  #reapting string a 5 times

'hihihihihi'

# Lists
List is a collection of items containing data of different types. The indexing of List starts with zero. If a length of a list is three, indexes are 0,1,2. I have shared multiple examples of different List operations with output and comments for better understanding.

In [6]:
# list ceration
lists = [1,2,'world']

In [8]:
lists

[1, 2, 'world']

In [10]:
# lenth of list
len(lists)

3

In [12]:
print(list[1])

list[1]

In [16]:
print(list[0:]);

list[slice(0, None, None)]

In [18]:
print(list[0:2]);

list[slice(0, 2, None)]

In [20]:
print(list);

<class 'list'>

# Further, an item can be added to the list with the method append().

In [29]:
l = [1,2,3]
l.append(4)

In [31]:
print(1)

1

# Booleans
These are operators with either True or False value. Booleans are of ‘bool’ type.

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [10]:
-9>2

False

In [12]:
3==3 # '==' is qual operator to check qulilty

True

# Tuples
Tuples are immutable data types with a collection of different types of data. It does not support object assignment. They are used for passing objects without getting changed for data integrity. It is written with a small bracket. Let us see an example for clarity.

Note that Tuples operations are similar to the Lists. Except, Tuples are not mutable and defined with small brackets.

In [15]:
t = ("hi", 1, 2,"world")

In [17]:
print (t[2:]);  # print 2 element till last element of a tuple

(2, 'world')

In [19]:
print(t[1:3]);  # print element staring from the 1st index up to 2nd index of the tuple

(1, 2)

In [21]:
print (t);  # prints tuple

('hi', 1, 2, 'world')

In [25]:
 t[3] = "hi";  # display error message as tuple does not support assignment

TypeError: 'tuple' object does not support item assignment

# Dictionaries
Dictionaries in Python are key-value pairs collection. Key and Value can be of any data type. There is a mapping of the key with the corresponding value. Keys are used to look-up for the values. Dictionaries are written within curly ‘{}’ braces.

In the second example dictionary ‘newd’ is created and key ‘India’ and ‘Indonesia’ are added. Hence new elements can be added in the dictionary.

In [32]:
d={1:123,3:[2,1,0],2:(1,4,'hi')}

In [36]:
print (d[2]) #key "2" has value of tuple data type with value "(1,4,'hi')"

(1, 4, 'hi')

In [40]:
print ([3]) #key "2" has value of list data type with value "[2,1,0]"

[3]

# Slicing*
You can return a range of characters by using the slice syntax
*

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [48]:
b = "hello, world!"

In [50]:
print (b[2:5])

llo

# Slice From the Start
By leaving out the start index, the range will start at the first character:

Example
Get the characters from the start to position 5 (not included):

In [53]:
b = "Hello, World!"

In [55]:
print(b[:5])

Hello

# Slice To the End
By leaving out the end index, the range will go to the end:

Example
Get the characters from position 2, and all the way to the end:

In [58]:
b = "Hello, World!"

In [60]:
print(b[2:])

llo, World!

# Negative Indexing
Use negative indexes to start the slice from the end of the string:

# Example
Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [64]:
b = "Hello, World!"

In [66]:
print(b[-5:-2])

orl